<hr>
<p class="content-text white" style="text-align:left;">
    Developed by <a href="{{author_link}}">{{author}}</a> on his free time.
    If you would like to support <a href="{{project_home_link}}">pocket_php's</a> development please consider making a donation.
    <br>
</p>
<p class="text-align:center;">
    <a href="bitcoin:{{btc_link}}" style="color:#F9B606;overflow-wrap: break-word; word-break: break-all;">BITCOIN </a>
    <a href="monero:{{monero_link}}" style="color:#FF875F; overflow-wrap: break-word; word-break: break-all;"> MONERO</a>
</p>

<div class="footer" style="text-align:right;">
    <a href="{{git_link}}" style="" title="gitlab">&#x25F1; git</a>
    <a href="{{license_link}}" style="" title="MIT">&#x25F0; license</a>
    <a href="#"  style="" title="Back to top">▲</a>
</div>
</div>
</div>

    </body>
</html>
