<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta                           charset="utf-8" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="referrer"           content="no-referrer" />
        <meta name="viewport"           content="width=device-width, initial-scale=1" />
        <meta name="robots"             content="{{robots_inline}}">
        <meta name="google"             content="notranslate" />

        <title>{{title}}</title>
        <meta name="description"                content="{{description}}" />
        <meta name="author"                     content="{{author}}" />
        <meta name="apple-mobile-web-app-title" content="{{apple_mobile_web_app_title}}" />
        <meta name="application-name"           content="{{application_name}}" />
        <meta name="theme-color"                content="#000000">


        <!-- ICONS & PLATFORM SPECIFIC SHORTCUTS -->
        <link rel="icon"                        type="image/png" sizes="16x16" href="{{favicon_16x16_img}}">
        <link rel="icon"                        type="image/png" sizes="32x32" href="{{favicon_32x32_img}}">
        <link rel="apple-touch-icon"            sizes="180x180"  href="{{apple_touch_icon_img}}">
        <link rel="shortcut icon"               href="{{favicon_ico}}">

        <link rel="manifest"                    href="{{manifest_json}}">
        <meta name="msapplication-config"       href="{{msapp_xml}}">
        <link rel="mask-icon"                   href="{{safari_pinned_tab_svg}}" color="#000000">

        <!-- CSS -->
        <link rel="stylesheet" href="{{scanlines_css}}">
        <link rel="stylesheet" href="{{style_css}}">
        <!-- <link rel="stylesheet" href="{{pure_css}}">
             <link rel="stylesheet" href="{{grid_responsive_css}}"> -->
        <!-- SCRIPTS -->

    </head>

    <body>

