<a name="top"></a>
<!-- Back to top reference -->
<div class="row-container" style="margin-bottom:12%;">
    <div class="neohex" style=""> Visit <a href="{{author_link}}" style="color:#fff;">XENOBYTE.XYZ</a> for more freeware</div>
    <div class="top-navbar">
		<a href="{{home_link}}" class="menu-list-header">POCKET_PHP</a><span class="version">[v{{pocket_php_ver}}]</span>
        <ul class="menu-list">
            <li><a href="{{user_guide_link}}">USER GUIDE</a></li>
            <li><a href="{{about_link}}">ABOUT</a></li>
            <li><a href="{{login_link}}">LOGIN</a> / <a href="{{logout_link}}">LOGOUT</a></li>
        </ul>
	</div>
