<div class="box">
    <div class="box-header">

    </div>
    <div class="box-contents">

        <div class="resume">
            <div class="resume-title">
                WHAT IS POCKET_PHP
            </div>
            <p>
                POCKET_PHP is a MVC implementation for PHP web projects that emphasizes simplicity and speed.
                PHP inherently lacks a proper MVC arquitecture implementation which has become standard for
                web development, this has slowly steered developers towards alternatives that lack
                PHP's speed and extremely simple configuration.
                <br><br>
                POCKET_PHP serves as a starting template, it validates the client's
                request, encapsulates all the relevant data and sends it to the respective controller file. It also
                provides a working example of a login system that can be easily enhanced to serve whatever
                your project may need. A simple yet fast template engine helps controllers build an HTML
                repsonse by tag replacement that allows a complete separation between logic and presentation.
                The code base is short and readable, it provides the full cookie cutter MVC design in an efficient
                and adaptable way through PHP.
                <br><br>
                <div class="greentext"> This is as simple as it gets, folks.</div>
            </p>
            <br><br>
            <div class="resume-title">
                POCKET_PHP FEATURES
            </div>
            <br>
            <ul style="list-style:square">
                <li>&#9632; Full MVC implentation</li>
                <li>&#9632; HTML template engine</li>
                <li>&#9632; Login system</li>
                <li>&#9632; HTTP request manager</li>
                <li>&#9632; Request tracking and IP banning</li>
                <li>&#9632; Example website project included</li>
                <li>&#9632; Scalable and easily modifiable</li>
                <li>&#9632; Self documented, its that simple</li>
                <li><a href="{{license_link}}">&#9632; MIT Licensed</a></li>
            </ul>
            <br><br>
            <div class="resume-title">
                DOCUMENTATION
            </div>
            <br>
            <p>
                The project is self documented through the example website, though the <a href="{{user_guide_link}}">user guide</a> has a thorough
                introduction.
            </p>
            <br><br>
            <div class="resume-title">
                CREDITS
            </div>
            <p class="black-block">
                Developed by <a href="{{about_link}}" style="color: #FFF;">AlexHG</a>.
            </p>
        </div>
    </div>

