
<div class="title">
    INSTALLATION SETTINGS
</div>

<p class="yellow">VERSION CONTROL</p>
<p class="content-text bg-license">

    POCKET_PHP ver: {{pocket_php_ver}} <br>
    Project ver: {{project_ver}} <br>
</p>

<p class="yellow">POCKET_PHP SETTINGS</p>
<p class="content-text bg-license">
    Debug mode: {{debug}} <br>
    Track requests: {{track_requests}} <br>
    Enforce bans: {{enforce_bans}} <br>
    Debug mode: {{debug}} <br>
    Project URL: {{project_url}} <br>
    Force HTTPS: {{force_https}} <br>

</p>

<p class="yellow">INTERNAL FOLDER STRUCTURE</p>
<p class="content-text bg-license">
    Root directory: {{root_dir}} <br>
    Configuration file: {{configuration_file}} <br>
    Core directory: {{core_dir}} <br>
    Models directory: {{models_dir}} <br>
    Views directory: {{views_dir}} <br>
    Static directory: {{static_dir}} <br>
</p>

<p class="yellow">URL ROUTING</p>
<p class="content-text bg-license">
    Controller entry function: {{controller_entry}} <br>
    Homepage: {{homepage}} <br>
    Robots.txt: {{robots_txt}} <br>
    Favicon: {{favicon_ico}} <br>
</p>

<p class="yellow">ERROR AND EXCEPTIONS</p>
<p class="content-text bg-license">
    HTTP error page: {{http_error_page}} <br>
    Ban page: {{banned_page}} <br>
</p>

<p class="yellow">SESSIONS</p>
<p class="content-text bg-license">
    Sessions enabled: {{sessions_enabled}} <br>
    Sessions save path: {{session_save_path}} <br>
    Sessions max duration: {{session_max_duration}} <br>
    Sessions inactivity tolerance: {{session_inactivity_tolerance}} <br>
    Sessions cookie duration: {{session_cookie_duration}} <br>

    Login page: {{login_page}} <br>
    Logout page: {{logout_page}} <br>

    Login CAPTCHA: {{login_captcha}} <br>
    CAPTCHA length: {{captcha_length}} <br>
    CAPTCHA font 1: {{captcha_font_1}} <br>
    CAPTCHA font 2: {{captcha_font_2}} <br>
    CAPTCHA font 3: {{captcha_font_3}} <br>
    CAPTCHA font 4: {{captcha_font_4}} <br>
</p>


<p class="yellow">DATA AND LOGGING</p>
<p class="content-text bg-license">
    Core SQLITE file: {{core_sqlite}} <br>
</p>


<p class="yellow">FILE UPLOADS</p>
<p class="content-text bg-license">
    File uploads : {{ini_file_uploads}} <br>
    Max file uploads: {{ini_max_file_uploads}} <br>
    Upload max size: {{ini_upload_max_filesize}} <br>

</p>
