/* ___  ____ ____ _  _ ____ ___     ___  _  _ ___ */
/* |__] |  | |    |_/  |___  |      |__] |__| |__] */
/* |    |__| |___ | \_ |___  |  ___ |    |  | | */
/* ----------------------------------------------- */
/* ─┐ ┬┌─┐┌┐┌┌─┐┌┐ ┬ ┬┌┬┐┌─┐ ─┐ ┬┬ ┬┌─┐ */
/* ┌┴┬┘├┤ ││││ │├┴┐└┬┘ │ ├┤  ┌┴┬┘└┬┘┌─┘ */
/* ┴ └─└─┘┘└┘└─┘└─┘ ┴  ┴ └─┘o┴ └─ ┴ └─┘ */
/* Author:  SENEX @ XENOBYTE.XYZ */
/* License: MIT License */
/* Website: https://xenobyte.xyz/projects/?nav=pocket_php */


@font-face {
    font-family: "Heading";
    src: url("../fonts/heading.woff");
}

@font-face {
    font-family: "Content";
    src: url("../fonts/ro.ttf");
}

*
{
    /* font-family: Content; */
    /* font-family: Bitstream Vera Sans !important; */
    /* font-family: Montserrat !important; */
    box-sizing: border-box;
    font-weight:bold;

}

html, body, main
{
    cursor: url("../images/cursor_gold.png"), default;
}


body
{
    /* background-color: #222;
       color; #eeeded; */
    background-color: #eeffff;
    /* display:block; */
    /* min-width: 960px; */
    overflow-x: auto;

    background: url("../images/background_tubes.png");
    /* background: url("../images/internal/bg.jpg")no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover; */
}

p
{
    font-family: Content !important;
}

a
{
    text-decoration: none;
    color: #FF875F;
}

.flex-center
{
    display:flex;
    justify-content: center;
}

a:hover
{
    /* text-decoration: underline; */
    text-decoration: none;
    color: #85C600 !important;
}

.green
{
    color: #85C600;
}

.row-container
{
    border: 2px solid #fff;
    text-align: center;
    margin-top: 10% !important;
    background-color: #111;
    max-width: 70%;
    color: #fef;
    padding: 8px;
    border: 2px soild red;

    min-height: 100%;
    max-width: 100%;
    opacity: 1;
    color: #949494;
    overflow: hidden;
}

.title
{
    font-family: Heading !important;
    font-size: 22px;
    color: #F9B606;
    margin-bottom: 8px;
    /* text-decoration: underline; */
}

.login
{
    background-color: #D01919;
    color: #000;
    padding: 12px;
}

.login-disclaimer
{
    text-align:left;
    padding: 10px;
    margin: 6px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Content;
}

.login-error
{
    color: #fff;
    margin-bottom: 30px;
    margin: 6px;
    font-size: 18px;
    font-family: Content;
}

.login-title
{
    font-size: 22px;
    margin: 6px;
    color: #F92672;
    font-family: Content;
}

.login-warning
{
    font-family: Content;
    font-size: 26px;
    margin: 6px;
    color: #000;
}

.footer
{
    font-family: Heading !important;
    font-size: 18px;
}

.login-img
{
    margin: 8px;
}

.login-form
{
    margin: 12px;
}

.login-container
{
    margin-top: 12px;
    margin-bottom: 12px;
}

.mainframe_output
{
    background-color: #B74B00;
    color: #FFF;
    text-align:left;
    padding: 8px;
    font-family: Content;
}

.bg-license
{
    background-color: #FFF;
    color: #000;
    padding: 8px;
}

.brand
{
    font-family: Content;
    font-size: 12px;
    margin: 6px;
    color: #FF875F;
    line-height: 14px;
    text-align:left;
    text-decoration: none;
}

.brand a
{
    font-family: Content;
    font-size: 12px;

}

.menu-list li
{
    font-family: Heading !important;
    display:inline;
    margin-left: 12px;
    margin-right: 12px;
    color: #FFF;
}

.menu-list-header
{
    color: #FFF;
    font-size: 32px;
    font-family: Heading !important;
    margin-bottom: 8px;
}

.content-text
{
    font-size: 14px;
    text-align: left;
    font-family: Content !important;
}

.content-text a
{
    font-size: 14px;
    text-align: left;
    font-family: Content;
}

.version
{
    font-family: Content;
    font-size: 14px;
    color: #4fff;
}

.red
{
    color: #C72D36;
}

.error-container
{
    background-color: #C72D36;
    color: #FFF;
    padding:8px;
    font-family: Content;
    font-size: 14px;
    text-align: left;
}

.error-title
{
    font-family: Heading;
    font-size: 22px;
    text-align: center;
}
