


<div class="title"> INSTALLATION </div>
<div class="content-text">
    <span class="green">1. Install PHP7 and NGINX, I recommend installing both through your package manager.</span> <br>
    For Debian / Ubuntu :
    <br>
    <div class="mainframe_output">
        sudo apt-get update<br>
        sudo apt-get install php7.2 php7.2-fpm php7.2-sqlite php7.2-curl nginx sqlitebrowser sqlite
    </div>
    <br>
    For Arch / Manjaro :
    <br>
    <div class="mainframe_output">
        sudo pacman -S nginx php php-fpm php-fpm php-sqlite sqlitebrowser sqlite <br>
    </div>
    <br>
    <span class="green">2. Clone the POCKET_PHP repository and set the server permissions.</span>
    <br>
    <div class="mainframe_output">
        git clone <a href="{{git_link}}">{{git_link}}</a> <br>
        mv -r pocket_php /var/www/html/ <br>
        sudo chown -R username:www-data /var/www/html/pocket_php <br>
        sudo chmod -R 755 /var/www/html/pocket_php <br>
    </div>
    <br>
    <span class="green">3. Configure NGINX.</span>
    <br>
    Remember to modify the provided nginx virtual server <a href="{{nginx_conf}}">configuration file</a> to match your desired settings!<br>
    <div class="mainframe_output">
        sudo mv /var/www/html/pocket_php/static/text_files/nginx_config /etc/nginx/sites-available/default<br>
        sudo systemctl restart php7.x-fpm.service<br>
        sudo systemctl restart nginx.service
    </div>
    <br>
    <span class="green">4. Configure PHP.</span>
    <br>
    The only relevant changes are to the www.conf and php.ini files.
    <br>
    /etc/php/php.ini
    <div class="mainframe_output">
        1. Uncomment the extension=pdo_sqlite <br>
        2. Change the default session.name (for security reasons) <br>
        3. Modify the upload.limit to fit your needs <br>
        4. Set the desired time zone in "date.timezone" (NOTE: this setting can and usually is overwritten)
    </div>
    <br>
    /etc/php/php-fpm.d/www.conf
    <div class="mainframe_output">
        1. Change user and group to ones NGINX can access
    </div>

    <br>
    <span class="green">5. Configure POCKET_PHP.</span>
    <br>
    All the relevant configuration lies in app/configure.php, note that the pocket_php/tools/ directory holds the sqlite
    database file and both the file and folder must be writeable by the web server.
    <div class="mainframe_output">
        sudo chown -R username:www-data /var/www/html/pocket_php/core/<br>
        sudo chmod -R 755 /var/www/html/pocket_php/app/core/pocket_php.db<br>
    </div>
    <br>
    It's also worth mentioning that locale settings used by PHP are the same enabled in the host system and that the
    default timezone can be set in the php.ini file and overwritten in the configure.php source. Just an FYI.
</div>
<br>

<div class="title"> WEBSERVER CONFIGURATION </div>
<div class="content-text">
    As long as your webserver of choice respects the simple rules below, pocket_php will work with it.
    <div class="mainframe_output">
        1. Serve static files directly <br>
        2. Redirect everything else to /app/index.php <br>
    </div>
    <br>
    The provided <a href="{{nginx_vbs_file}}">virtual server file</a> for NGINX also adds a few security filters to keep some static files (such as the internal DB) private.
    As a side note, there have been some issues with the way php-fpm handles sqlite databases that share the same name but are from independent projects, a very common case when
    running multiple websites from a single server, simply rename the database file and update the location constant in configure.php.
</div>
<br>

<div class="title"> F.A.Q. / TROUBLESHOOTING </div>
<div class="content-text">
    <p>
    <div class="green">POCKET_PHP isn't honoring the changes made to the php-fpm.ini file</div>
        One of PHP's more annoying limitations is how the php.ini configuration file is global to its
        respective php-fpm process. To work around this issue and support multiple different php configurations
        on the same server please refer to the configure.php file which overrides all internal pocket_php settings
        in the php.ini file.
    </p>

    <p>
    <div class="green">The sqlite database can't be opened.</div>
        NGINX requries read and write permissions for both the database and the folder it resides in.
    </p>

    <p>
    <div class="green">Can I change the database?</div>
        Simply add the connection parameters to configuration.php and the desired interface to /core/database.php.
    </p>

    <p>
    <div class="green">What was the motivation behind pocket_php?</div>
        Current trends in web frameworks are to take the idea of having an initial basis for a project to the extreme
        by trying to provide far more than it is required of them. Some of the more criminal examples out there (they know who they are)
        even outright ignore the ever increasing size of their already unnecessarily massive code base. Probably because the vast majority
        of the userbase don't even read the code they run.
        <br>
        I believe that PHP would greatly benefit from a proper MVC implementation, so here it is.
    </p>

    <p>
    <div class="green">What is the project's license? Do I have to pay or credit you in any way?</div>
        The project is <a href="https://opensource.org/licenses/MIT">MIT</a> licensed and free. You don't have to credit it me at all.
    </p>
</div>
<br>

<div class="title"> DEVLOG </div>
<div class="content-text">
    {{devlog_entries}}
</div>
