<div class="box">
    <div class="box-header">

    </div>
    <div class="box-contents">

        <div class="post-container">

            <div class="content">
                <p>
                    <form class="login" method="post">
                        <h1 class="login-title">Member Login</h1>
                        <h3 class="login-title">{{error}}</h3>
                        <input type="text" class="login-input" name="email" placeholder="Email Adress" autofocus>
                        <input type="password" class="login-input" name="password" placeholder="Password">
                        <input type="submit" value="Lets Go" class="login-button">
                    </form>

                </p>
            </div>

        </div>
    </div>


