<a name="top"></a>
<!-- Back to top reference -->
<main>
    <div class="box">
        <div class="box-header">

        </div>
        <div class="box-contents">

            <div class="resume">
                <div class="resume-title">
                    ABOUT POCKET_PHP
                </div>
                <p>
                    The original idea was to fix some of PHP annoyances that slow down development
                    without having to sacrifice performance by using one of the many web frameworks already
                    available. Since the aim was to speed up development, a template containing the smallest
                    amount of cookie cutter code was incorporated and it became a starting point for many of
                    my PHP projects. I keep it as simple as possible, only the very essential is provided so
                    the developer can get straight to work on the application.
                    <br><br>
                    <div class="red">POCKET_PHP is developed by <a href="https://gitlab.com/Alex-HG/">AlexHG</a> on his free time.</div>

                </p>
                <br><br>
                <div class="resume-title">
                    WHO IS IT FOR?
                </div>
                <p>
                    Anyone looking to take advantage of PHP's performance and simplicity without having to depend on
                    a bloated and complicated framework that removes power from the programmer in exchange of utility
                    that the developer can implement without much effort in the first place.

                    The framework was built with <a href="https://www.nginx.com/">NGINX</a> in mind but any webserver
                    will do, simply replicate the annotations in the provided <a href="{{user_guide_link}}">configuration</a>.
                    <br><br>
                    Due to how easy it is to setup and how thorough the configuration is, I personally use it to serve anonymous TOR websites and quick prototypes.

                </p>
            </div>
        </div>
    </div>

